.canvas_container{
    position: relative;
}

.controls{
    width: 100vw;
    position: absolute;
    top: 0;
    background: var(--color-bg-primary);
    padding: 0 20px 10px 20px;
    min-width: 50vw;
    border-bottom: 2px solid rgba(122, 122, 122, 0.219);
    border-radius:0 0 20px 20px;
    border-bottom-left-radius:100% 100%;
    border-bottom-right-radius:100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .icon i{
    color:var(--color-black);
    margin: 0 20px ;
    font-size: 1.5em;
    cursor: pointer;
}

.img{
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    border-radius: 0 0 0 10px;
}